@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-image: url(../images/bluetecbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*nav styles*/
.secondary-bg{
    background-color: rgb(64, 64, 240);
}
.text-primary{
    color:#FD6E0A;
}
.dark-2{
   /* color:#474747; */
   color: white;
}
.btn-primary{
    background-color:#FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    margin: 10px;
}
.section-title{
    font-size: 50px;
    text-shadow: 2px 2px cyan;
    font-weight: bold;
    color:white;
}
.section-description{
    font-size: 35px;
    color: white;
}

.header{
    background-image:linear-gradient(0deg,#00000055,#000000cf), url(../images/bluetecbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.well{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid cyan;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 150px;
    text-shadow: 2px 2px blue;
    font-size: 60px;
    padding: 0 20px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: white;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}

/*banner styles*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
    border: 5px solid cyan;
    border-radius: 25px;
    margin-bottom: 100px;
    padding: 50px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    color: white;
}
.banner-title{
    font-weight: bold;
    font-size: 85;
    color: white;
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.dev{
    font-weight: bolder;
    font-size: 70px;
    margin-bottom: 20px;
    color: black;
    border: 3px solid rgba(85, 108, 227, 0.963);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 2px 2px rgb(86, 252, 252);
    
}
.banner-profile-pic{
    width: 580px;
    border: 10px solid cyan;
    border-radius: 50%;
}


/*about styles*/

.about{
    border: 3px solid cyan;
border-radius: 25px;
padding: 130px 150px;
text-align:center;
    max-width:1140px;
    margin: 25px auto;
}

.about-items{
    display: flex;
    justify-content: space-between;
    color: white;
}

.item-title{
    font-size: 25px;
}

.item-description{
    font-weight: 600;
    font-size: 25px;
color: white;
}
